<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.example.camper01.mapper.UserMapper">
    <insert id="insertUser">
        INSERT INTO users(
        userId, userPw, userEmail, userPhone, userBirth, userAddr)
        VALUES (
        #{userId}, #{userPw}, #{userEmail}, #{userPhone}, #{userBirth}, #{userAddr}
        )
    </insert>

    <update id="updateUser">
        UPDATE users SET userId = #{userId}, userPw = #{userPw}, userEmail = #{userEmail}, userPhone = #{userPhone}, userBirth = #{userBirth}, userAddr = #{userAddr}
        WHERE userNum = #{userNum}
    </update>

    <delete id="deleteUser">
        DELETE from users WHERE userNum = #{userNum}
    </delete>

    <select id="readUser" resultType="UserVO">
        SELECT * FROM users WHERE userNum = #{userNum}
    </select>
</mapper>